@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
:root {
  --primary-Very-dark-blue: #090b1a;
  --Dark-desaturated-blue: #1b1938;
  --soft-voilet: #aa5cdb;

  --Nutral-white-heading: #ffffff;
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);

  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

  --fs-body: 0.85rem;
  --fs-heading: 1.5rem;
  --fs-stat: 1.5rem;
  --ff-heading: "Lexend Deca" sans-serif;
  --ff-body: "Lexend Deca", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  min-height: 100vh;
  font-size: var(--fs-body);
  background-color: var(--primary-Very-dark-blue);
  display: flex;
  align-items: center;
}
.wrapper {
  max-width: 70vw;
  margin: 0 auto;
}

.card-container {
  background-color: var(--Dark-desaturated-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2rem;
}
.image-component {
  position: relative;
}
.image-component img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-component::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: hsl(277, 64%, 61%, 0.6);
  inset: 0;
}
.text-component {
  padding: 2rem;
}

.title {
  color: var(--Nutral-white-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-700);
  padding-bottom: 3rem;
}

.title span {
  color: var(--soft-voilet);
}

.desc {
  color: var(--Slightly-transparent-white-main-paragraph);
  line-height: 1.5;
}

.stat-box {
  display: flex;
  padding-top: 4rem;
  gap: 20px;
  justify-content: space-between;
  text-transform: uppercase;
}

.stat-box p.stat-number {
  color: var(--Nutral-white-heading);
  font-size: var(--fs-stat);
  font-weight: var(--fw-700);
  margin-bottom: 0.2rem;
}
.stat-box p {
  color: var(--Slightly-transparent-white-stat-headings);
}

@media only screen and(max-width:768px) and(min-width:426px) {
  body {
    font-size: 12px;
  }
  .text-component {
    padding: 12%;
  }
  .title {
    font-size: 22px;
  }
  .stat-box p {
    padding-top: 10px;
    justify-content: space-between;
  }
  /* .stat-number {
    font-size: 12px;
  }
  .stat-box p {
    font-size: 12px;
  } */
}
@media only screen and (max-width: 425px) {
  body {
    text-align: center;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .image-component {
    order: -1;
  }
  .text-component {
    padding: 12% 8%;
  }
  .title {
    font-size: 22px;
    line-height: 1.4;
  }
  .stat-box {
    flex-direction: column;
    padding-top: 20px;
  }
  .stat-box .stat-number {
    font-size: 12px;
  }
  .stat-box div {
    margin-top: 1.2rem;
  }
}
